*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	--box-size: 100px;
	--mark-size: calc(var(--box-size) * 0.9);
}

h1 {
	text-align: center;
	margin-top: 2rem;
	font-size: 3rem;
}

.board {
	height: 80vh;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}

.box {
	width: var(--box-size);
	height: var(--box-size);
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3) {
	border-top: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9) {
	border-bottom: none;
}

.box:nth-child(3n + 1) {
	border-left: none;
}

.box:nth-child(3n) {
	border-right: none;
}

.box.x,
.box.o {
	cursor: not-allowed;
}

.box.x::before,
.box.x::after,
.box.o::before,
.box.o::after {
	background-color: black;
}

.board.x .box:not(.o):not(.x):hover::before,
.board.x .box:not(.o):not(.x):hover::after,
.board.o .box:not(.x):not(.o):hover::before,
.board.o .box:not(.x):not(.o):hover::after {
	background-color: lightgray;
}

.box.x::before,
.box.x::after,
.board.x .box:not(.o):not(.x):hover::before,
.board.x .box:not(.o):not(.x):hover::after {
	content: "";
	height: var(--mark-size);
	width: calc(var(--mark-size) * 0.15);
	position: absolute;
}

.box.x::before,
.board.x .box:not(.o):not(.x):hover::before {
	transform: rotate(45deg);
}

.box.x::after,
.board.x .box:not(.o):not(.x):hover::after {
	transform: rotate(-45deg);
}

.box.o::before,
.box.o::after,
.board.o .box:not(.x):not(.o):hover::before,
.board.o .box:not(.x):not(.o):hover::after {
	content: "";
	border-radius: 50%;
	position: absolute;
}

.box.o::before,
.board.o .box:not(.x):not(.o):hover::before {
	height: var(--mark-size);
	width: var(--mark-size);
}

.box.o::after,
.board.o .box:not(.x):not(.o):hover::after {
	background-color: white;
	height: calc(var(--mark-size) * 0.7);
	width: calc(var(--mark-size) * 0.7);
}

.winning-message {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	font-size: 4rem;
}

.winning-message button {
	margin: 1.5rem;
	font-size: 2rem;
	padding: 1rem 2rem;
	border: 2px solid black;
	border-radius: 0.5rem;
	cursor: pointer;
}

.winning-message button:hover {
	background-color: black;
	color: white;
	border-color: white;
}

.winning-message.show {
	display: flex;
}
